{% extends 'dashboard.html' %}
{% load static %}

{% block title %}New Bill{% endblock %}

{% block dashboard %}
<div class="container">
    <h3 class="text-center">Generate Bill</h3>
    <p class="font-weight-bold lead">Available Items</p>

    <div class="border" style="max-height: 200px; overflow-y: scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Amount Bought</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td> {{ item.name }} </td>
                    <td> {{ item.size }} </td>
                    <td> Rs {{ item.price }} </td>
                    <td id="{{forloop.counter}}">
                        <input type="range" value="0" id="{{item.name}}" onchange="valueChange(this);" name="points"
                            min="0" max="{{ item.quantity_available }}">
                        <output id="{{item.name}} amt">0</output>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="font-weight-bold lead pt-2">Selected Items</p>


    <div id="billOutline">
        <hr>
        <p>No Item Added</p>
    </div>
    <div id="submissionBtn" class="text-right d-none">
        <button class="btn btn-primary" onclick="">Submit</button>
    </div>
</div>
<script>
    items = {{ itm | safe }};
    bill = Array(items.length).fill(0);

    function valueChange(item) {
        let name = item.id + " amt";
        document.getElementById(name).textContent = item.value;
        let count = Number(item.value);
        bill[item.parentElement.id] = count;
        reRender();
    }

    function reRender() {
        document.getElementById('billOutline').innerHTML = `
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody id="bill"></tbody>
        </table>`;
        let root = document.getElementById('bill');
        if (bill.every(item => item === 0)) {
            document.getElementById('billOutline').innerHTML = `<hr>
            <p>No Item Added</p>`
            document.getElementById('submissionBtn').classList.add('d-none');
            return;
        }
        root.textContent = "";
        let total = 0;
        bill.forEach(async function (element, index) {
            total += element * items[index][1];
            if (element !== 0) {
                root.innerHTML += `
                <tr>
                    <td>${items[index][0]}</td>
                    <td>${items[index][2]}</td>
                    <td>${items[index][1]}</td>
                    <td>${element}</td>
                    <td>Rs ${element * items[index][1]}</td>
                </tr>`
            }
        });
        root.innerHTML += `
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>Rs ${total}</td>
            </tr>`
        document.getElementById('submissionBtn').classList.remove('d-none');
    }
</script>
{% endblock %}