{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container pb-3">
    <h2>Notifications</h2>
    <hr>
    <div class="col">
        {% if noti %}
        {% for not in noti %}
        <div class="row rounded" style="border: 1px solid black; margin: 5px;">
            <div class="col-9">
                The stock for <b>{{ not.item }}</b> in your shop is below the minimum availability you set for {{ not.item }}
            </div>
            <div class="col-3">
                {{ not.date }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if message %}
        {{message}}
        {% endif %}

    </div>
</div>
{% endblock %}