{% extends 'base.html' %}
{% load static %}

{% block title %}Notifications{% endblock %}

{% block content %}
<div class="container pb-3">
    <h2 class="pb-3">Notifications</h2>

    <div class="col">
        {% if noti %}
        <table class="table">
            <tbody>
                {% for not in noti %}
                <tr>
                    <td>The stock for <b>{{ not.item }}</b> in your shop is below the minimum availability you set for
                        {{ not.item }}</td>

                    <td>{{ not.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if message %}
        {{message}}
        {% endif %}

    </div>
</div>
{% endblock %}